.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 4rem;
  margin-top: 6rem;
  margin-left: 0rem;
  padding-right: 0rem;
  width: 100%;
  z-index: 1;
}
.img {
  position: absolute;
  bottom: 20rem;
  right: 1rem;
}

.h {
  position: relative;
  right: 0rem;
  padding-left: 2rem;
}
.span1,
.span2 {
  font-weight: 500;
  font-size: 100px;
  font-family: "Roboto" sans-serif;
}

.types {
  position: relative;
  right: 6rem;
  padding: 2rem;
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
}

.span1 {
  color: #2db46a;
}

.scroller {
  cursor: pointer;
  margin: -4.7rem;
  position: relative;
  left: 4.4rem;
}

@media (max-width: 1024px) {
  .types {
    position: relative;
    left: 6.6rem;
  }
  .scroller {
    display: none;
  }
}

@media (max-width: 960px) {
  .container {
    align-items: baseline;
    height: 110vh;
    flex-direction: row;
    padding: 0rem;
    padding-right: 1rem;
    margin-left: -1rem;
  }
  .img {
    width: 400px;
    bottom: 15rem;
  }
  .types {
    flex-direction: column;
    right: 2rem;
    left: 0;
    margin-top: 3rem;
    align-items: flex-end;
    top: 0rem;
  }
  .type {
    margin-bottom: 2rem;
    width: 114px;
    height: 107px;
  }

  .span1,
  .span2 {
    font-size: 45px;
  }
  .title {
    padding-right: 0;
    margin-top: 9rem;
  }
  .h {
    padding-left: 5rem;
  }
  .secondOne {
    padding-top: 1rem;
    margin-top: 5rem;
    margin-left: -2rem;
  }
}
@media (max-width: 360px) {
  .container {
    margin-left: -4rem;
    width: fit-content;
    height: 125vh;
  }
  .h {
    right: -4rem;
    padding-left: 14px;
  }
  .types {
    margin-top: 2rem;
  }
}

@media (max-width: 340px) {
  .container {
    width: fit-content;
    height: 160vh;
  }
}

@media (max-width: 280px) {
  .container {
    height: 130vh;
  }
  .types {
    left: 3rem;
  }
}
